.sikshya-courses-widget-wrapper {
	margin-left: -15px;
	margin-right: -15px;

	.sikshya-courses {
		padding: 0;

		.sikshya-courses-loop-wrap .sikshya-course-item {
			margin-bottom: 10px;
		}
	}
}

.widget {
	&.sikshya_courses_widget {
		background: transparent;
		border: none;

	}
}
